
    <footer id="main-footer">
        <div class="container">
          <div id="footer-widgets" class="clearfix">
            <div class="footer-widget">
              <div id="custom_html-2" class="widget_text fwidget et_pb_widget widget_custom_html">
                <h4 class="text-primary">Contacto</h4>
                <div class="textwidget custom-html-widget">
                  <div class="pie">
                    <h5 style="color:#d51a27;">Teléfono</h5>
                    <p>313 244 5615</p>
  
                    <h5 style="color:#d51a27;">Localización</h5>
                    <p> Cra. 8 #9-25,Guateque Boyacá</p>
                    <h5 style="color:#d51a27;">Email</h5>
                    <p>autopartesdelthacars@gmail.com</p>
  
                    <h5 style="color:#d51a27;">Horarios</h5>
                    <p>
                      Lunes a viernes: 08:00 am - 06:00 pm <br>
                      Sábado: 09.00 am - 02:00 pm
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="footer-widget">
              <div id="nav_menu-2" class="fwidget et_pb_widget widget_nav_menu">
                <h4 class="text-primary ms-4">La Web</h4>
                <div class="menu-principal-container">
                  <ul id="menu-principal" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141"><a
                        href="#">Inicio</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a
                        href="./stock.html">Deltacars Stock</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a
                        href="./about.html">Financiación</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a
                        href="./contact.html">Contacto</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="footer-widget">
              <div id="media_image-2" class="fwidget et_pb_widget widget_media_image">
                <img width="232" height="300"
                  src="https://deltacars.es/wp-content/uploads/2019/07/car-dealer-11-232x300.jpg"
                  class="image wp-image-36 attachment-medium size-medium" alt="" loading="lazy"
                  style="max-width: 100%; height: auto;"
                  srcset="https://deltacars.es/wp-content/uploads/2019/07/car-dealer-11-232x300.jpg 232w, https://deltacars.es/wp-content/uploads/2019/07/car-dealer-11-768x994.jpg 768w, https://deltacars.es/wp-content/uploads/2019/07/car-dealer-11-791x1024.jpg 791w, https://deltacars.es/wp-content/uploads/2019/07/car-dealer-11-400x516.jpg 400w, https://deltacars.es/wp-content/uploads/2019/07/car-dealer-11.jpg 800w"
                  sizes="(max-width: 232px) 100vw, 232px">
              </div>
            </div>
          </div>
        </div>
  
        <div id="footer-bottom">
          <div class="container clearfix">
            <div id="footer-info">
              <span>
                <a href="https://deltacars.es/aviso-legal/">Aviso legal&nbsp;</a>|
                <a href="https://deltacars.es/politica-de-privacidad/">Política de privacidad&nbsp;</a>|
                <a href="https://deltacars.es/politica-de-cookies/">Política de cookies&nbsp;</a>
              </span>
            </div>
          </div>
        </div>
      </footer>